<section class="section bg-default section-md">
    <div class=" container pt-32">
        <div class="row">
            <div class="col-12">
                <p class="absolute -my-2 font-bold text-black text-opacity-20 text-5xl p-4">About me</p>
                <h2 class="text-5xl text-shadow-sm p-11 text-black">About me</h2>
                <div class="flex flex-col lg:flex-row justify-center items-center px-5 mb-20">
                    <div class="flex flex-col items-center">
                        <p class="p-4 text-slate-500 xl:text-4xl sm:text-2xl lg:text-2xl">My name es Quervin Hidalgo Moya, <span class="text-slate-800 font-bold">System Engineer</span> with three years of experience in creating web applications and 
                            mobile apps, motivated to grow professionally and innovate with excellent communication skills in <span class="text-slate-800 font-bold">Spanish and English</span>.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 row">
                <div>
                    <p class="absolute -my-2 font-bold text-black text-opacity-20 text-5xl p-4">Skills</p>
                    <h2 class="text-5xl text-shadow-sm p-11 text-black">Skills</h2>
                    <div class="justify-center row">
                        <div class=" col-4 text-center p-71"><img class="imagen" src="assets/img/html.png" alt="">
                            <p class="pt-2 text-sm font-medium"> HTML</p>
                        </div>
                        <div class="col-4 text-center p-71"><img class="imagen" src="assets/img/css.png" alt="">
                            <p class="pt-2 text-sm font-medium">CSS3</p>
                        </div>
                        <div class=" col-4 text-center  p-71"><img class="imagen" src="assets/img/javascript.png" alt="">
                            <p class="pt-2 text-sm font-medium">JavaScript</p>
                        </div>
                        <div class="col-4 text-center p-71"><img class="imagen" src="assets/img/angular.png" alt="">
                            <p class="pt-2 text-sm font-medium">Angular</p>
                        </div>
                        <div class="col-4 text-center p-71"><img class="imagen" src="assets/img/vue.png" alt="">
                            <p class="pt-2 text-sm font-medium">Vue</p>
                        </div>
                        <div class="col-4 text-center p-71"><img class="imagen" src="assets/img/bootstrap.png" alt="">
                            <p class="pt-2 text-sm font-medium">Bootstrap</p>
                        </div>
                        <div class="col-4 text-center p-71"><img class="imagen" src="assets/img/xamarin.png" alt="">
                            <p class="pt-2 text-sm font-medium">Xamarin</p>
                        </div>
                        <div class="col-4 text-center p-71"><img class="imagen" src="assets/img/typeScript.png" alt="">
                            <p class="pt-2 text-sm font-medium">TypeScript</p>
                        </div>
                        <div class="col-4 text-center p-71"><img class="imagen" src="assets/img/crystal reports.png" alt="">
                            <p class="pt-2 text-sm font-medium">Crystal Reports</p>
                        </div>
                    </div>
                    <div class="w-5/6 h-px mx-auto bg-black mt-12"></div>
                    <div class="justify-center row">
                        <div class="col-4 text-center p-71"><img class="imagen" src="assets/img/gitHub.png" alt="">
                            <p class="pt-2 text-sm font-medium">GitHub</p>
                        </div>
                        <div class="col-4 text-center p-71"><img class="imagen" src="assets/img/visual studio.png" alt="">
                            <p class="pt-2 text-sm font-medium">Visual Studio</p>
                        </div>
                        <div class="col-4 text-center p-71"><img class="imagen" src="assets/img/sql server.png" alt="">
                            <p class="pt-2 text-sm font-medium">SQL Server</p>
                        </div>
                        <div class="col-4 text-center p-71"><img class="imagen" src="assets/img/postman.png" alt="">
                            <p class="pt-2 text-sm font-medium">Postman</p>
                        </div>
                        <div class="col-4 text-center p-71"><img class="imagen" src="assets/img/visual studio code.png" alt="">
                            <p class="pt-2 text-sm font-medium">Visual Studio Code</p>
                        </div>
                        <div class="col-4 text-center p-71"><img class="imagen" src="assets/img/azure.png" alt="">
                            <p class="pt-2 text-sm font-medium">Azure DevOps</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
