<section class="section swiper-container swiper-slider swiper-slider-1 context-dark swiper-container-horizontal swiper-container-android" data-loop="true" data-autoplay="5000" data-simulate-touch="false">
    <div id="carouselExampleIndicators" class="carousel slide swiper-wrapper" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="swiper-slide swiper-slide-active image1" data-slide-bg="assets/img/v1.png"  data-swiper-slide-index="1">
                    <div class="swiper-slide-caption section-lg">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                                    <h1><span class="d-block fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="100">Hello I am,</span><span class="d-block text-light fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="200"> Quervin Hidalgo Moya</span></h1>
                                    <p class="lead fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="350">I am a Web Developer!</p>
                                    <div class="button-wrap-default fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-secondary-text" href="assets/ResumeQuervin.pdf" download="CV_QuervinHidalgo">Download My CV</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="swiper-slide swiper-slide-active image2" data-slide-bg="assets/img/v2.png" data-swiper-slide-index="1">
                    <div class="swiper-slide-caption section-lg">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                                    <h1><span class="d-block fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="100">Hello I am,</span><span class="d-block text-light fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="200"> Quervin Hidalgo Moya</span></h1>
                                    <p class="lead fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="350">I am a Web Developer!</p>
                                    <div class="button-wrap-default fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-secondary-text" href="assets/ResumeQuervin.pdf" download="CV_QuervinHidalgo">Download My CV</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="swiper-slide swiper-slide-active image3" data-slide-bg="assets/img/v3.png" data-swiper-slide-index="1">
                    <div class="swiper-slide-caption section-lg">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                                    <h1><span class="d-block fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="100">Hello I am,</span><span class="d-block text-light fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="200"> Quervin Hidalgo Moya</span></h1>
                                    <p class="lead fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="350">I am a Web Developer!</p>
                                    <div class="button-wrap-default fadeInUp animated" data-caption-animate="fadeInUp" data-caption-delay="450"><a class="button button-secondary-text" href="assets/ResumeQuervin.pdf" download="CV_QuervinHidalgo">Download My CV</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-sm section-sm-bottom-100 bg-primary">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 wow fadeInUp" *ngFor="let ability of abilities">
                <div class="box-icon-2">
                    <div [class]="ability.class"></div>
                    <h5 class="title">{{ ability.name }}</h5>
                    <p class="text">{{ ability.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-gray-100 box-image-left">
    <div class="container">
        <h2>Projects</h2>
        <div class="row  section-lg section-lg-top-100">
            <div class="col-md-6" *ngFor="let project of projects">
                <div class="card">
                  <div class="card-body row">
                    <div class="col-8">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a [href]="project.url" target="_blank" rel="noreferrer" class="btn btn-outline-primary">{{ project.button }}</a>
                    </div>
                    <div class="col-4 text-center p-71"><img class="imagen" [src]="project.image" [alt]="project.name">
                  </div>
                </div>
                </div>
              </div>
        </div>
    </div>
</section>