<div class="rd-navbar-wrap" style="height: 44.05px;">
    <nav class="rd-navbar rd-navbar-transparent rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
        data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="20px" data-xl-stick-up-offset="20px" data-xxl-stick-up-offset="20px" data-lg-stick-up="true" data-xl-stick-up="true"
        data-xxl-stick-up="true">
        <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1 toggle-original" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
        <div class="rd-navbar-aside-outer rd-navbar-collapse toggle-original-elements">
            <div class="rd-navbar-aside">
                <div class="rd-navbar-info">
                    <div class="icon novi-icon mdi mdi-phone"><a class="rd-nav-link" routerLink="home">My Profile</a></div>
                </div>
                <ul class="list-lined">
                    <li><a routerLink="home">Home</a></li>
                    <li><a routerLink="about">About</a></li>
                </ul>
            </div>
        </div>
        <!-- <div class="rd-navbar-main-outer">
            <div class="rd-navbar-main-inner">
                <div class="rd-navbar-main">
                    <div class="rd-navbar-panel">
                        <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                        <div class="rd-navbar-brand">
                        </div>
                    </div>
                    <div class="rd-navbar-main-element">
                        <div class="rd-navbar-nav-wrap toggle-original-elements">
                            <ul class="rd-navbar-nav">
                                <li class="rd-nav-item" routerLinkActive="active"><a class="rd-nav-link" routerLink="home">Home</a>
                                </li>
                                <li class="rd-nav-item" routerLinkActive="active"><a class="rd-nav-link" routerLink="about">About</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </nav>
</div>